*{
	margin: 0;
	padding: 0;
	box-sizing;
	
}

nav li{
	float:left; 
	display: inline-block;
	width: 10%;
	padding: 5px 49px;
	background-color:#DB8316;
	color: black;
	border: 1px solid beige;
	text-align: center;


}

nav a{
	text-decoration: none;
	color: lightyellow;
	font-size: 15px;
}

nav li:hover{
	background-color: #754A00;
}

#menu{
	font-size: 24px;
	font-family: arial;
	text-align:left;
	float:left;

}
#menu p{
	margin: 0px;
 padding: 0px;
}
#menu a{
	display: block;
	padding: 6px;
	width: 200px;
	background-color: #B56C12;
	border-bottom: 2px solid black;
	text-align: center;
	text-decoration:none;
	color: white;
}
#menu a:hover{
	background-color: #F5CA00;
	color: black; 
}
#imagen1{
	
	position: relative;
	display: inline-block;
	
}
#a{
	
	padding-right: :150px;
}

.l{
border-radius:50%;
padding-left: 0px;
}
.textoa{
	position: absolute;
	left: 43%;
	top: 190px;
	font-size: 30px;
	color: black;
	text-decoration:underline; 
}
.textob{
	position: absolute;
	left: 50%;
	bottom: 0px;
	font-size: 50px;
	color: black;
	text-decoration:underline; 
}
.textoc{

}